{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/item.css' %}">
    <title class="item-title">{{ item.name }}</title>
</head>
<body class="item-page">
    <p class="back-link"><a href="{% url 'home' %}">Back to Home Page</a></p>
    <h1 class="item-name">{{ item.name }}</h1>
    <p class="item-description">{{ item.description }}</p>
    <p class="item-price">Price: ${{ item.price }}</p>
    <button class="buy-button" id="buyButton">Buy</button>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_51OprVHP1lRySLVYJS3ZKK7vO0Ujg4nelDq0Q6FpQ8EGDk2nsUspHpNmICNPrJSmoNj7Q2cd2G16etksy5dV1MA1v00m3vUeQcJ');
        var buyButton = document.getElementById('buyButton');

        buyButton.addEventListener('click', function () {
            fetch('/buy/{{ item.id }}/')
                .then(response => response.json())
                .then(session => {
                    return stripe.redirectToCheckout({ sessionId: session.session_id });
                })
                .then(result => {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
</body>
</html>
